# Node Modules
/node_modules

# Dependency directory
/.pnpm

# Environment variables
.env

# Logs
*.log

# IDE files
.vscode
.idea

# Build dir
/dist

# Parcel cache dir
 .parcel-cache/

# Mac specific files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight
.Trashes
__MACOSX
